.App {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #481053 0%, #0ba1ec 100%);
}

.tableTitle {
  font-size: 2rem;
}

.todoList {
  min-height: 50vh;
  min-width: 60vw;
  overflow-y: scroll;
  padding: 20px;
  background-image: linear-gradient(to top, #ffffff69 0%, #ffffff3d 100%);
  border-radius: 20px;
}
.categoryTab {
  width: 300px;
  padding: 20px;
  margin: 10px 0;
  background-image: linear-gradient(to top, #ffffff69 0%, #ffffff3d 100%);
  border-radius: 20px;
  cursor: pointer;
}
.categoryTab:hover {
  background-image: linear-gradient(to bottom, #ffffff69 0%, #ffffff3d 100%);
}
.currentCategoryTab {
  width: 300px;
  padding: 20px;
  margin: 10px 0;
  background-image: linear-gradient(to top, #9413eb 0%, #ffffff3d 100%);
  border-radius: 20px;
  cursor: pointer;
}
.currentCategoryTab:hover {
  background-image: linear-gradient(to bottom, #0eeeee 0%, #ffffff3d 100%);
}

.todo {
  list-style: none;
  display: flex;
  background: #242f92cc;
  box-shadow: 0 1px 2px rgba(105, 4, 236, 0.15),
    0 3px 9px rgba(42, 14, 105, 0.1);
  transition: all 0.2s ease-in-out;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.todo:hover {
  background: #03537a0c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.todoText {
  font-weight: 300;
  font-size: large;
  text-align: center;
}

.todoHeader {
  padding: 0 10px 10px 10px;
  font-weight: 200;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.todoForm {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.todoInput {
  font-weight: 200;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  flex: 1;
  height: 1.5rem;
  padding: 5px;
  border: solid 1 gray;
  margin-right: 15px;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.todoSubmitButton {
  font-weight: 200;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 2.4rem;
  border: solid 1 gray;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
}

.todoInput:focus,
.todoSubmitButton:focus {
  opacity: 1;
}

.sortingButtonGroup {
  display: flex;
  justify-content: flex-end;
}

.sortingButton {
  align-self: center;
  padding: 3px;
  margin: 0 3px;
  border-radius: 3px;
  opacity: 0.8;
}

.sortUp {
  background-color: #9413eb;
}
.sortDown {
  background-color: #0eeeee;
}

.sortComplete {
  margin-right: 9px;
  background-color: #1cf309;
}
.sortRestore {
  margin-right: 9px;
  background-color: #f5f10d;
}
.sortDelete {
  margin-left: 9px;
  background-color: #da2f2f;
}

.todoColumn {
  flex: 1;
}

.lastColumn {
  text-align: right;
}

.firstColumn {
  text-align: left;
}

.link {
  cursor: pointer;
}
