.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  align-items: center;
}

.todoList {
  position: relative;
  height: 50vh;
  width: 60vw;
  margin-top: 25px;
  padding: 20px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 20px;
}

.todo {
  display: flex;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.todo:hover {
  background-image: linear-gradient(120deg, #cb22bd 0%, #ab3564 100%);
}

.todoHeader {
  padding: 0 10px 10px 10px;
  font-weight: 700;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
}

.todoText {
  font-weight: 300;
  font-size: large;
}

.secondList {
  margin-top: 25px;
}

.addButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: green;
  color: white;
  height: 64px;
  width: 64px;
  font-size: 32px;
  font-weight: 700;
  border-radius: 50%;
}
